.socials-container {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 10px;
  bottom: 0;
  align-items: center;
  a {
    color: inherit;
  }
  .line {
    width: 2px;
    height: 7rem;
    background-color: var(--color) !important;
  }
}

@media (max-width:30em){
  .socials-container{
    transform: translateX(-10px);
  }
}