.about-page {
  height: 96vh;
  width: 100vw;
  padding: 2rem 2rem 0 2rem;
  position: relative;
  background-color: var(--back-color);
  color: var(--color);
  .piano {
    //width: 22%;
    font-size: 20vw;
    right: 10%;
    top: 20%;
    position: absolute;
    animation: bounce 4s ease infinite, apparition 5s ease;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(100px) translateX(30px);
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.back {
  position: fixed;
  top: 45vh;
  font-size: 2rem;
  transition: all 0.2s ease;
  z-index: 5;
  &:hover {
    font-size: 2.2rem;
  }
}

.about-container {
  height: 100%;

  display: flex;
  align-items: center;
  .about-theo {
    backdrop-filter: blur(4px) !important;
    display: flex;
    border: 2px solid var(--color);
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    width: 50vw;
    height: 60vh;
    margin-left: 10vw;
    line-height: 1.5;
    font-family: $font-5;
    font-size: calc(0.6rem + 1vw);
    font-style: italic;
  }
}

@media (max-width: 768px) {
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(100px) translateX(-30px);
    }
  }
}

@media (max-width: 40em) {
  .about-container {
    .about-theo {
      width: 70vw;
      height: 60vh;
      backdrop-filter: none !important;
    }
  }
}

@media (max-width: 30em) {
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(50px) translateX(0px);
    }
  }
  .about-page {
    width: auto;
    .piano{
      right: 1rem;
    }
    .back {
      top: 2.5rem !important;
      right: 2rem;
    }
  }
  .about-container {
    .about-theo {
      width: 60vw;
      height: 65vh;
      line-height: 1.5;
      font-family: $font-5;
      font-size: calc(0.6rem + 1vw);
      font-style: italic;
      transform: translateX(-2vw);
    }
  }
}
