.skills-page {
  width: 100vw;
  background-color: var(--back-color);
  color: var(--color);
}

.skills-fix{
  overflow-y: scroll !important;
  position: relative;
  height: 96vh;
  padding: 2rem 2rem 0 2rem;
}

.skills-container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .skill {
    width: 30vw;
    height: 60vh;
    z-index: 10;
    // border: 2px solid var(--back-color);
    border: 2px solid var(--color);
    padding: 1rem;
    line-height: 1.5;
    font-family: $font-5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(4px);
    svg{
      font-size: 2rem;
      margin-right: 5px;
    }
    .titre {
      display: flex;
      justify-content: center;
      align-items: center;
      div{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    h1 {
      margin: auto;
      font-size: 2.2rem;
    }
    .description {
      font-size: calc(0.4em + 1vw);
    }
    .comp {
      h1 {
        font-size: calc(1em + 1vw);
      }
      ul {
        margin-left: 2rem;
        font-size: calc(0.6em + 1vw);
      }
    }
    &:hover{
      background-color: var(--color);
      color: var(--back-color);
      transition: all 0.2s;
    }
  }
}

.back {
  position: fixed;
  top: 45vh;
  font-size: 2rem;
  transition: all 0.2s ease;
  z-index: 5;
  &:hover {
    font-size: 2.2rem;
  }
}

// Tablette
@media (max-width: 50em) {
  .skills-container {
    height: auto;
    flex-direction: column;
    margin-top: 10vw;
    .skill {
      width: 50vw;
      height: max-content;
      backdrop-filter: blur(4px);
      margin-bottom: 5rem;
      h1 {
        margin: auto;
        font-size: 2.2rem;
      }
      .description {
        font-size: calc(0.8em + 1vw);
      }
      .comp {
        h1 {
          font-size: calc(1em + 2vw);
        }
        ul {
          margin-left: 2rem;
          font-size: calc(0.8em + 1vw);
        }
      }
    }
  }
}

//Mobile
@media (max-width: 30em) {
  .skills-container {
    height: auto;
    flex-direction: column;
    margin-top: 19vw;
    .skill {
      width: 60vw;
      height: max-content;
      backdrop-filter: blur(4px);
      margin-bottom: 2rem;
      h1 {
        margin: auto;
        font-size: 2.2rem;
      }
      .description {
        font-size: calc(0.8em + 1vw);
      }
      .comp {
        h1 {
          font-size: calc(1em + 2vw);
        }
        ul {
          margin-left: 2rem;
          font-size: calc(0.8em + 1vw);
        }
      }
    }
  }
}