.works-page {
  width: 100vw;
}

.works {
  overflow-y: scroll !important;
  position: relative;
  height: 100dvh;
  padding: 2rem 2rem 0 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12rem;
  padding-left: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(calc(10rem + 15vw), 1fr));
  grid-gap: calc(1rem + 2vw);
  padding-bottom: 5rem;
}

.back {
  position: fixed;
  top: 45dvh;
  font-size: 2rem;
  transition: all 0.2s ease;
  &:hover {
    font-size: 2.2rem;
  }
}

.filter {
  position: absolute;
  top: 8vw;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  border: 2px solid var(--color);
  background-color: var(--back-color);
  z-index: 10;
  div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--color);
    cursor: pointer;
    height: 100%;
    transition: all 0.2s ease;
    &:not(:last-child) {
      border-right: 2px solid var(--color);
    }
    &:hover {
      background-color: var(--color);
      color: var(--back-color);
    }
  }
  .selected {
    background-color: var(--color);
    color: var(--back-color);
  }
}

.projet {
  backdrop-filter: blur(2px);
  width: calc(10rem + 15vw);
  padding: 1rem;
  height: 28rem;
  border: 2px solid var(--color);
  z-index: 5;
  .header-projet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    svg {
      font-size: 2rem;
    }
  }
  .img-projet {
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center center;
    }
  }
  h3 {
    margin-top: 2rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .content-projet {
    border-top: 2px solid var(--color);
    p {
      margin-top: 1rem;
      font-size: 1.1rem;
    }
  }
  .langage {
    font-size: 1rem !important;
    font-style: italic;
  }
  &:hover {
    background-color: var(--color);
    color: var(--back-color);
    transition: all 0.3s ease;
    .content-projet {
      border-top: 2px solid var(--back-color);
    }
    .img-projet {
      border: 1px solid var(--back-color);
    }
  }
}

@media (max-width: 1024px) {
  .filter {
    top: 12vw;
  }
}

@media (max-width: 683px) {
  .filter {
    top: 13vw;
  }
}

@media (max-width: 50em) {
  .filter {
    top: 27%;
    width: 70%;
  }
  .grid {
    grid-template-columns: 100%;
  }
  .projet {
    width: 55vw;
  }
}

@media (max-width: 50em) {
  .filter {
    top: 10%;
    width: 70%;
  }
  .center{
    padding-top: 10rem;
  }
  .grid {
    grid-template-columns: 100%;
  }
  .projet {
    height: max-content;
    h3{
      margin-top: 1rem;
    }
    .img-projet{
      height: 40%;
    }
    .content-projet {
      p {
        font-size: calc(0.8em + 1vw);
      }
    }
  }
}

@media (max-width: 30em) {
  .filter {
    top: 12%;
    width: 80%;
  }
  .center{
    padding-top: 10rem;
  }
  .grid {
    grid-template-columns: 100%;
  }
  .projet {
    height: max-content;
    h3{
      margin-top: 1rem;
    }
    .img-projet{
      height: 40%;
    }
    .content-projet {
      p {
        font-size: calc(0.8em + 1vw);
      }
    }
  }
}
